%h1
  Mi Banco

.row
  .col-md-12
    %h2
      Numero de Cuentas: #{number_of_accounts}
    %h2
      Numero de Clientes: #{number_of_clients}

.row
  .col-md-12
    = link_to bank_accounts_path do
      Bank Accounts





